nav {
  background-color: #222;
  height: 80px;
  text-align: center;
  padding: 2%;
  color: #ffffff;
}
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#heading {
  background-color: #72647c;
  width: 100%;
  border: 5px solid black;
  position: sticky;
  top: 60px;
}

main {
  margin-top: 60px;
}

li:hover {
  background-color: gray;
  border: black;
  font-size: larger;
  width: 70%;
}

li {
  color: #222;
}

footer {
  background-color: gray;
  height: 45px;
}
footer h2 {
  text-align: center;
}
