* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav,
footer {
  background: #222222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
}

a {
  text-decoration: none;
  color: #fff;
}

nav .links a {
  margin-left: 2.4rem;
}
.hamburger {
  display: none;
}

.hero-image {
  background-image: url("https://wallpapercave.com/wp/wp2403373.jpg");
  background-color: #cccccc;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: gradient 10s ease infinite;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@keyframes gradient {
  0% {
    background-image: url("https://wallpapercave.com/wp/wp2403373.jpg");
  }
  50% {
    background-image: url("https://cdn.wallpapersafari.com/18/94/yQ9Ylw.jpg");
  }
  100% {
    background-image: url("https://wallpaperaccess.com/full/18971.jpg");
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}

.card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
}

.card-back {
  background-color: #222222;
  color: white;
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
  .links,
  .login {
    display: none;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    margin-top: 2rem;
  }
}
