* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-size: cover;
}

nav a {
  color: white;
}

nav {
  text-align: center;
}

button {
  margin: 340px 500px 0px 700px;
  width: 150px;
  height: 70px;
  background-color: #0093e9;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 200ms;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  outline: none;
}

button:hover {
  background-color: #e0c3fc;
  border: 2px solid rgb(146, 148, 248);
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 1px 1px 25px 10px #8ec5fc;
}
